.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ::ng-deep .p-button {
    padding: 0.5rem 1rem;
    font-size: 13px;
  }
  
  .left-actions {
    display: flex;
    gap: 0.5rem;
  }
}
